/* @import 'normalize.css';*/
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

a {
  color: coral;
  font-style: normal;
  text-decoration: none;
}

a:visited {
  color: coral;
}

html,
body {
  margin: 0;
  font-family: OpenSans-Regular, sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  background: #282828;
  -webkit-font-smoothing: antialiased;
}

.main {
  width: 70%;
  margin: 0 auto;
  background: #f0f3f6;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(201, 199, 201, 1);
  -moz-box-shadow: 0px 2px 10px 0px rgba(201, 199, 201, 1);
  box-shadow: 0px 2px 10px 0px rgba(201, 199, 201, 1);
}

.main > h2 {
  text-align: center;
  margin: 0;
  padding: 20px;
}

.main > p {
  text-align: center;
  margin: 0;
  padding: 20px;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 17px;
  font-style: normal;
  color: #282828;
}

.portfolio-item {
  width: 100%;
  margin: 20px auto;
  text-align: center;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #8499a7;
}

.css-animation-instruction {
  text-align: center;
  font-family: OpenSans-Bold, sans-serif;
  font-size: 12px;
  font-style: normal;
  color: #8499a7;
}

.portfolio-item > header {
  margin: 0 auto;
  text-align: center;
}

.portfolio-item > a {
  margin: 0 auto;
}

.portfolio-item > a > img {
  width: 90%;
  margin: 10px auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(201, 199, 201, 1);
  -moz-box-shadow: 0px 2px 5px 0px rgba(201, 199, 201, 1);
  box-shadow: 0px 2px 5px 0px rgba(201, 199, 201, 1);
  transition: all 0.3s ease 0s;
}

.portfolio-item > a > img:hover {
  -webkit-box-shadow: 0px 2px 10px 0px rgba(201, 199, 201, 1);
  -moz-box-shadow: 0px 2px 10px 0px rgba(201, 199, 201, 1);
  box-shadow: 0px 2px 10px 0px rgba(201, 199, 201, 1);
}

/* PHONE 320-500 */
@media screen and (max-width: 500px) {
  .main {
    width: 95%;
  }
}

/* TABLET 501 - 768 */
@media (min-width: 501px) and (max-width: 768px) {
  .main {
    width: 90%;
  }
}

/* DESKTOP 769 - 1920 */
@media (min-width: 769px) and (max-width: 1920px) {
  .main {
    width: 85%;
  }
}

/* DESKTOP+ 1921+ */
@media (min-width: 1921px) {
}
