@import 'normalize.css';

html {
    scroll-behavior: smooth;
}

html, body {
    background: #f3f3f3;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
}

figure {
    margin: 0;
    padding: 0;
}

h2 {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    display: none;
}



/* HEADER */

header#top {
    width: 100%;
    height: 90px;
    background: #000000;
}

.header {
    max-width: 1180px;
    height: 90px;
    padding: 0 44px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.header-logo {
    width: 50px;
    height: 50px;
    margin: 20px 0 0 0;
    background: #000000;
    float: left;
}

.header-nav {
    width: 60%;
    font-size: 14px;
    float: left;
}

.header-nav > ul {
    margin: 0px;
    padding: 0px;
    margin-left: 3.8%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    list-style-type: none;
}

.header-nav > ul > li {
    max-width: 120px;
    min-width: 65px;
    height: 41px;
    margin-left: 3.2%;
    flex-grow: 1;
    display: block;
    position: relative;
    padding-top: 45px;
    text-align: center;
    float: left;
}

.header-nav > ul > li > a > span {
    max-width: 120px;
    height: 41px;
    display: block;
    border-width: 0 0 4px 0;
    border-color: #000000;
    border-style: solid;
}

.header-nav > ul > li > a:hover > span {
    color: #ffffff;
    border-color: #2196f3;
}

.header-nav > ul > li:hover > ul.dropdown-videos {
    display: block;
}

.header-nav a {
    color: #898989;
    text-decoration: none;
}

.header-sign-in-up {
    margin: 45px 4.1% 0 auto;   
    color: #ffffff;
    text-decoration: none;
    text-align: right;
}

.header-sign-in-up a {
    color: #ffffff;
    text-decoration: none;
}


.nav-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.nav-trigger:checked ~ ul {
    display: block;
   }

label[for="nav-trigger"] {
    width: 30px;
    height: 24px;
    cursor: pointer;
    background-image: url(../img/burger-menu-icon.png);
    background-size: contain;
    margin: 33px 10px 0 40px;
    float: right;
   }

.burger-nav ul {
    width: 112px;
    height: 208px;
    margin: 0;
    padding: 0 0 0 16px;
    list-style-type: none;
    color: #999999;
    text-align: left;
    border-radius: 2px;
    background: #fafafa;
    position: absolute;
    top: 90px;
    right: 0px;
    z-index: 10;
    opacity: 1;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    overflow: hidden;
    display: none;
}

.burger-nav ul li {
    margin: 30px 0 8px 0;
}

.burger-nav ul li a {
    color: #999999;
}

.burger-nav ul li a:active {
    color: #2196f3;
}

.burger-nav ul li a:hover {
    color: #2196f3;
}


.header-search {
    width: 18px;
    position: relative;
}

.search-trigger {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.search-trigger:checked ~ .search-input {
    display: block;
}

label[for="search-trigger"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    background-image: url(../img/search-icon.png);
    background-size: contain;
    margin: 42px 0px 0 40px;
    float: right;
}

.search-input {
    width: 344px;
    height: 48px;
    margin: 0;
    padding: 0 0 0 15px;
    font-size: 20px;
    background-color: #000000;
    border-radius: 1px;
    border: 0px solid #ffffff;
    float: right;
    position: absolute;
    top: 90px;
    right: 0px;
    z-index: 10;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    overflow: hidden;
    display: none;
    transition: all 0.7s ease 0s;
}

.search-input img {
    width: 18px;
    margin: 15px 0 0 0;
    float: left;
}    

.search-input input {
    width: 277px;
    margin: 12px 0 0 34px;
    color: #999999;
    caret-color: #999999;
    background-color: #000000;
    outline: none;
    text-align: left;
    padding: 0px;
    border-width: 0px;
    border-color: #000000;
    float: left;
}



.dropdown-videos {
    width: 138px;
    height: 176px;
    padding: 0;
    list-style-type: none;
    color: #fafafa;
    text-align: left;
    border-radius: 2px;
    background: #fafafa;
    position: absolute;
    top: 25px;
    left: calc(50% - 50px);
    z-index: 10;
    opacity: 1;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.5);
    display: none; 
    overflow: hidden;
}

.dropdown-videos-header {
    width: 138px;
    height: 44px;
    padding: 20px 0 0 26px;
    background: #fafafa;
}

.dropdown-videos-header > a {
    float: left;
}

.dropdown-videos-arrow {
    width: 10px;
    margin: 5px 50px 0 0px;
    float: right;
}

.dropdown-videos li.dropdown-videos-item {
    width: 138px;
    height: 22px;
    padding: 10px 0 0 26px;
    background: #fafafa;
    clear: both;
}

.dropdown-videos li.dropdown-videos-item:hover {
    background: #eeeeee;
    cursor: pointer;
}




article#content {
    width: 100%;
    background: #f3f3f3;
}



/* VIDEOS */

.featured-video {
    max-width: 1180px;
    padding: 0 44px;
    margin: 40px auto 0 auto;
}

.featured-video > figure {
    padding: 0 0 44px 0;
    background: #ffffff;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);

}    

.featured-video figure > img {
    width: 100%;
    border-radius: 4px 4px 0 0;
    background: #000000;
}

.featured-video figure > figcaption {
    position: relative;
}

.play-button {
    width: 72px;
    height: 72px; 
    position: absolute;
    z-index: 10;
    top: -59px;
    right: 21px;
    float: right;
    background-image: url(../img/play-button.png);    
}

div.play-button:hover {
    background-image: url(../img/play-button-hover.png);
    cursor: pointer;    
}

.featured-video-title {
    margin: 24px 10px 0 30px;
    font-family: 'Roboto-Medium';
    font-size: 36px;
}

.featured-video-title-tablet {
    margin: 24px 10px 0 30px;
    font-family: 'Roboto-Medium';
    font-size: 36px;
    display: none;
}

.featured-video-reference {
    margin: 19px 10px 0 30px;
    font-family: 'Helvetica-Neue';
    font-size: 18px;
}




.video-content {
    max-width: 1180px;
    padding: 0 44px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 30px auto 97px auto;
    text-align: center;
}

.video-item {
    display: inline-block;
    margin: 10px 0 10px 0;
    background: #ffffff;
    padding: 0 0 26px 0;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
}


.video-item img {
    width: 100%;
    display: block;
    border-radius: 4px 4px 0 0;
    background: #000000;
}

.video-title {
    margin: 29px 10px 0 30px;
    text-align: left;
    font-family: 'Helvetica-Neue';
    font-size: 18px;
}
.video-item:nth-child(5) .video-title-tablet {
    display: none;
}

.video-reference {
    margin: 7px 10px 0 30px;
    text-align: left;
    color: #4d4d4d;
    font-family: 'Roboto-Regular';
    font-size: 16px;
}





/* ARTICLES */

.article-container {
    max-width: 1180px;
    padding: 0 44px;
    margin: 0 auto;
}

.article {
    max-width: 780px;
    margin: 40px 0 0 0;
    margin-left: calc(0.15*(100vw - 768px));
    padding-bottom: 30px;
    background: #ffffff;
    border-radius: 4px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.24);
}

.article > header {
    height: 84px;
}

.article > header > img {
    width: 40px;
    margin: 29px 0 0 30px;
    border-radius: 50%;
    background: #989898;
    float: left;
}

.article > header > h3 {
    display: inline-block;
    margin: 28px 0 0 16px;
    font-weight: normal;
    font-size: 16px;
    color: #4d4d4d;
}

.article > header > p {
    display: inline-block;
    margin: 6px 0 0 16px;
    font-weight: normal;
    font-size: 14px;
    color: #999999;
}

.article > figure {
    padding: 0;
    background: #ffffff;
}    

.article > figure > img {
    width: 100%;
    background: #000000;
}

.article > figure > figcaption {
    padding: 23px 65px 20px 29px;
}

.article > figure > figcaption > h3 {
    margin: 0;
    font-family: "Roboto-Medium", sans-serif;
    font-size: 36px;
    font-weight: normal;
}

.article > figure > figcaption > p {
    margin: 13px 0 0 1px;
    font-family: "Helvetica-Neue", sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 178%;
}

.article > figure > figcaption > a {
    display: block;
    box-sizing: border-box;
    width: 112px;
    height: 36px;
    padding-top: 11px;
    margin: 32px 0 0 1px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: normal;
    background: #2196f3;
    border-radius: 2px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
}

.article > figure > figcaption > a:hover {
    background: #067ad7;
}    


/* FOOTER */

nav#pages {
    width: 100%;
    height: 96px;
    margin: 94px 0 0 0;
    font-family: 'Roboto-Medium';
    font-size: 18px;
    font-weight: normal;
    background: #2196f3;
}

.page-nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.page-nav > ul > li {
    height: 20px;
    display: inline-block;
    margin-top: 49px;
    float: right;
}
.page-nav > ul > li:first-child {
    float: left;
}

.page-nav a {   
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}

.page-nav a > span {   
    vertical-align: top;
}




footer#bottom {
    width: 100%;
    height: 90px;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    font-weight: bold;
    background: #ffffff;
}

.footer {
    max-width: 1180px;
    padding: 0 44px;
    margin: 0 auto;
}

.footer-nav ul {
    list-style-type: none;
    padding: 0px;
    margin: 0;
}

.footer-nav > ul > li {
    margin-top: 38px;
    padding-left: 2.7%;
    float: left;
}
.footer-nav > ul > li:first-child {
    padding-left: 0;
}

.footer-nav a {
    color: #999999;
    text-decoration: none;
}

.footer-copyright {
    color: #999999;
    margin-top: 38px;
    text-decoration: none;
    float: right;
}









/* PHONE 320-500 */
@media screen and (max-width: 500px) {
    .header {
        padding: 0 24px;
    }
    .header-logo {
        margin-right: auto;
    }
    
    .header-nav {
        display: none;
    }
    .header-sign-in-up {
        display: none;
    }

    .header-search {
        width: 25px;
    }
    label[for="search-trigger"] {
        width: 25px;
        height: 25px;
        background-image: url(../img/search-icon.png);
        margin: 32px 7px 0 0px;

    }
    .search-input {
        width: calc(100vw - 15px);
        max-width: 344px;
        right: -104px;
    }
    
    .search-input > input {
        max-width: 250px;
    }


    .featured-video {
        padding: 0 10px;
        margin: 10px auto 0 auto;
    }
    .featured-video figure {
        padding-bottom: 32px;
    }
    .featured-video img {
        display: none;
    }
    .featured-video-img-phone {
        display: block;
    }
    .featured-video-title {
        margin: 45px 10px 0 30px;
    }
    .play-button {
        top: -80px;
}

    .video-content {
        max-width: 500px;
        padding: 0 10px;
        margin: 15px auto 6px auto;
    }   
    .video-item img {
        display: none;
    }

    img[src*="tablet"] {
        display: none;
    }
    img[src*="desktop"] {
        display: none;
    }
    img[src*="phone"] {
        display: block;
    }

    .video-item {
        width:100%;
        margin: 5px 0 5px 0;
    }
    .video-item:nth-child(4) {
        display: none;
    }
    .video-item:nth-child(5) {
        display: none;
    }
    .video-item:nth-child(6) {
        display: none;
    }
    .video-item:nth-child(7) {
        display: none;
    }


    .article-container {
        padding: 0 10px;
        margin: 10px auto 0 auto;
    }  
    .article {
        margin: 10px 0 0 0;
    }
    .article > figure > figcaption {
        padding: 20px 35px 20px 29px;
    }
    .article > figure > figcaption > h3 {
        line-height: 135%;
    }
    .article > figure > figcaption > p {
        margin-top: 9px;
    }


    nav#pages {
        margin-top: 10px;
    }
    nav#pages .footer {
        padding: 0 40px;
    }


    footer#bottom {
        height: 60px;
    }

    .footer-nav {
        display: none;
    }
    .footer-copyright {
        margin-top: 0px;
        padding-top: 23px;
        text-align: center;
        float: none;       
    }
}

/* TABLET 501 - 768 */
@media (min-width: 501px) and (max-width: 768px) {
    .header {
        padding: 0 5.73%;
    }

    .header-nav > ul {
        margin-left: -8px;
    }
    .header-nav > ul > li {
        margin-left: calc(37% - 100px);   
    }
    .header-nav > ul > li:nth-child(3) {
        max-width: 79px;    
    }
    .header-nav > ul > li:nth-child(2) {
        max-width: 85px;    
    }

    .header-nav > ul > li:nth-child(1) {
        display: none;
    }

   
    .burger-nav {
        display: none;
    }

    .featured-video {
        padding: 0 5.73%;
    }
    .featured-video > figure {
        padding-bottom: 53px;
    }
    .featured-video img {
        display: none;
    }
    .featured-video-img-tablet {
        display: block;
    }

    .featured-video-title {
        display: none;
    }
    .featured-video-title-tablet {
        display: block;
        margin-right: 20%;
    }

    .article-container {
        padding: 0 5.73%;
    }  



    .video-content {
        max-width: 768px;
        margin-bottom: 69px;
        padding: 0 5.73%;
    }   

    .video-item img {
        display: none;
    }

    img[src*="tablet"] {
        display: block;
    }
    img[src*="desktop"] {
        display: none;
    }
    img[src*="phone"] {
        display: none;
    }


    .video-item {
        width: calc(50% - 10px);
        max-width: 330px;
    }
    .video-item:nth-child(5) .video-title {
        display: none;
    }
    .video-item:nth-child(5) .video-title-tablet {
        margin: 29px 0 0 30px;
        text-align: left;
        font-family: 'Helvetica-Neue';
        font-size: 18px;
        display: block;
    }
    .video-item:nth-child(6) {
        display: none;
    }
    .video-item:nth-child(7) {
        display: none;
    }


    .article {
        margin: 40px 0 0 0;
    }
    .article > figure > figcaption {
        padding: 23px 35px 20px 29px;
    }


    nav#pages {
        margin-top: 40px;
    }



    .footer {
        padding: 0 5.73%;
    }
    .footer-nav > ul > li {
        margin-right: 0;
        padding-left: calc(5.8% - 10px);
    }
}

/* DESKTOP 769 - 1920 */
@media (min-width: 769px) and (max-width: 1920px) {
    .burger-nav {
        display: none;
    }

    .featured-video-img-desktop {
        display: block;
    }

    .video-item {
        width: calc(33.33% - 10px);
        max-width: 380px;
    }

    img[src*="desktop"] {
        display: block;
    }
    img[src*="tablet"] {
        display: none;
    }
    img[src*="phone"] {
        display: none;
    }
}

/* DESKTOP+ 1921+ */
@media (min-width: 1921px) {
    .burger-nav {
        display: none;
    }

    .featured-video-img-desktop {
        display: block;
    }

    .video-item {
        width: calc(33.33% - 10px);
        max-width: 380px;
    }

    img[src*="desktop"] {
        display: block;
    }
    img[src*="tablet"] {
        display: none;
    }
    img[src*="phone"] {
        display: none;
    }
}